{% include "header.jinja"%}
    <link href="{{ url_for('static', path='/css/teacher.css') }}" rel="stylesheet">
    <div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="container d-flex justify-content-center">
            <div class="col">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25"> <img src="https://img.icons8.com/dusk/64/000000/class.png" class="img-radius" alt="User-Profile-Image"> </div>
                                <h5 class="f-w-600">{{ class_data.grade }}-{{ class_data.name }}</h5>
                                <h6 class="f-w-600">Class from {{ class_data.year_started}}</h6>
                                <p>Class Teacher: <a href="/teacher/{{class_data.teacher_id}}/" class="btn btn-sm btn-primary">{{ teacher.full_name }}</a></p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <table class="table table-sm">
                                  <thead>
                                    <tr>
                                      <th scope="col">Name</th>
                                      <th scope="col">Birthday</th>
                                      <th scope="col">Link</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for student in students %}
                                      <tr>
                                        <td> {{ student.full_name }} </td>
                                        <td> {{ student.date_of_birth }} </td>
                                        <td> <a href="/student/{{ student.student_id }}/" class="btn btn-sm btn-outline-dark"> Student page </a> </td>
                                      </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include "footer.jinja" %}
