
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', path='/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', path='/css/navbar.css') }}" rel="stylesheet">
  </head>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/">{{panel_type}} panel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {{ 'active' if nav.home else "" }}" >
              <a class="nav-link" href="/">Teachures</a>
            </li>
            <li class="nav-item {{ 'active' if nav.classes else "" }}">
              <a class="nav-link" href="/class">Classes</a>
            </li>
          </ul>
          <span class="navbar-text">
            Welcome, {{username}}! 
          </span>
          <form action="/login" method="delete" id="logoutForm" style="margin-left: 15px">
              <button type="button" class="btn btn-outline-danger" id="logoutButton">Log out</button>
            </form>
        </div>
      </div>
    </nav>

  <body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script> 
    $(document).ready(function(){
        $("#logoutButton").click(function(){        
            $("#logoutForm").submit();
        });
    });
  </script>