{% include "header.jinja"%}
    <link href="{{ url_for('static', path='/css/teacher.css') }}" rel="stylesheet">
    <div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="container d-flex justify-content-center">
            <div class="col">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25"> <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image"> </div>
                                <h5 class="f-w-600">{{ parent.full_name }}</h5>
                                <h6 class="f-w-600">Parent, {{ parent.status }}</h6>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h5 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h5>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h5 class="text-muted f-w-400"> {{ parent.email }} </h5>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Phone</p>
                                        <h5 class="text-muted f-w-400"> {{ parent.phone_number }}</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Sex</p>
                                        <h5 class="text-muted f-w-400"> {{ parent.sex }}</h5>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600"> Birthday </p>
                                        <h5 class="text-muted f-w-400"> {{ parent.date_of_birth }}, {{parent.age}} y.o. </h5>
                                    </div>
                                </div>
                                <br/>
                                <h5 class="m-b-20 p-b-5 b-b-default f-w-600">Children</h5>
                                <table class="table table-sm">
                                  <thead>
                                    <tr>
                                      <th scope="col">Child name</th>
                                      <th scope="col">Child status</th>
                                      <th scope="col">Child age</th>
                                      <th scope="col">Child links</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for student in students %}
                                      <tr>
                                        <td> {{ student.full_name }} </td>
                                        <td> {{ student.status }} </td>
                                        <td> {{ student.age }} y.o. </td>
                                        <td> <a href="/student/{{ student.student_id }}/" class="btn btn-sm btn-outline-dark"> Student page </a> </td>
                                      </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include "footer.jinja" %}
